<% include ../partials/header %>

<div class="container mt-3">
	<header class="jumbotron">
		<div class="container">
			<h1>Edit <%= campground.name %></h1>
		</div>
	</header>
	<div class="row">
		<form
			action="/campgrounds/<%= campground.id %>?_method=PUT"
			method="POST"
			class="col-10 col-md-8 col-lg-6 mx-auto"
		>
			<input
				class="form-control my-2"
				type="text"
				name="campground[name]"
				placeholder="Name of the Campground"
				value="<%= campground.name %>"
			/>
			<input
				class="form-control my-2"
				type="text"
				name="campground[img]"
				placeholder="Image URL"
				value="<%= campground.img %>"
			/>
			<input
				class="form-control my-2"
				type="text"
				name="campground[description]"
				placeholder="Description"
				value="<%= campground.description %>"
			/>
			<input
				class="form-control my-2"
				type="number"
				name="campground[price]"
				placeholder="Price"
				min="0.01"
				step="0.01"
				value="<%= campground.price %>"
			/>
			<input class="btn btn-primary btn-block" type="submit" value="Submit" />
		</form>
	</div>
</div>

<% include ../partials/footer %>
